body {
  background-color: #234A4C;
}
#side-nav-logo {
  width: 100%;
}
#nav-logo {
  height: 100%;
}
.nav-wrapper {
  background-color: #45270D;
}
#mobile {
  background-color: #45270D;
  color: white;
}
#logo-img-bck {
  width: 100%;
}
#landing {
  height: 75vh;
}
#intro {
  width: 100%;
}




#vid {
  background: url(../assets/bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
.card {
  width: 33%;
  margin: 50%;
}
.card-content {
  background-color: #45270D;
  text-align: center;
}